* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.centered-text h1 {
  font-size: 3em;
  color: #ffffff;
  margin-bottom: 0.3em;
}

.centered-text p {
  font-size: 1.3em;
  color: #cccccc;
}
